In [3]:
import pandas as pd
import numpy as np

# COLAB - STUDENT Dataset - Uncomment this cell for Google Drive usage

In [4]:
# from google.colab import drive
# Mount Google Drive
# drive.mount('/content/drive')

# S3 or Google Drive - Load STUDENT dataset

In [5]:
import boto3
import os

# Define local file path
#local_file_path_student_miss = "/content/drive/My Drive/PISA_2022_Background_questionnaire_STUDENT_filtered_recode_miss.csv"
local_file_path_student_miss = "PISA_2022_Background_questionnaire_STUDENT_filtered_recode_miss.csv"  # Change as needed

# Define S3 details
bucket_name = "sagemaker-us-west-2-986030204467"
file_key = "capstone/testfiles/PISA_2022_Background_questionnaire_STUDENT_filtered_recode_miss.csv"

# AWS credentials are usually stored in ~/.aws/credentials or IAM roles (if running on AWS services)
s3_client = boto3.client("s3")

# Check if the file exists locally
if os.path.exists(local_file_path_student_miss):
    print(f"üìÇ Loading data from local file... {local_file_path_student_miss}")
    student_dataset = pd.read_csv(local_file_path_student_miss)
    print("Load completed")
else:
    print("‚òÅÔ∏è Downloading data from S3...")
    
    # Create S3 client
    s3_client = boto3.client("s3")

    # Download the file from S3
    response = s3_client.get_object(Bucket=bucket_name, Key=file_key)

    # Read the file into pandas DataFrame
    student_dataset = pd.read_csv(response["Body"])

    # Save a local copy for future use
    student_dataset.to_csv(local_file_path_student_miss, index=False)
    print(f"‚úÖ File saved locally as {local_file_path_student_miss}")

üìÇ Loading data from local file... PISA_2022_Background_questionnaire_STUDENT_filtered_recode_miss.csv
Load completed

In [6]:
# Get number of rows and shapes
student_dataset.shape

(591857, 180)

In [7]:
# Display the first few rows
student_dataset.head()

,CNT,CNTSCHID,CNTSTUID,MATH_Proficient,SISCO,ST347Q01JA,ST347Q02JA,ST349Q01JA,ST350Q01JA,ST356Q01JA,...,PARINVOL,PQSCHOOL,PASCHPOL,ATTIMMP,CREATHME,CREATACT,CREATOPN,CREATOR,WORKPAY,WORKHOME
0,Albania,800282,800001,0,-999,-999,-999,-999,-999,-999,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,10
1,Albania,800115,800002,0,-999,-999,-999,-999,-999,-999,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999,-999
2,Albania,800242,800003,0,-999,-999,-999,-999,-999,-999,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,0
3,Albania,800245,800005,0,1,6,1,1,2,4,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,10
4,Albania,800285,800006,1,1,4,6,4,3,1,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0,4

# S3 or Google Drive - Load SCHOOL dataset

In [8]:
# Provide the full path to the file
#local_file_path_school_miss = "/content/drive/My Drive/PISA_2022_Background_questionnaire_SCHOOL_filtered_recode_miss.csv"

# Define local file path
local_file_path_school_miss = "PISA_2022_Background_questionnaire_SCHOOL_filtered_recode_miss.csv"  # Change as needed

# Define S3 details
bucket_name = "sagemaker-us-west-2-986030204467"
file_key = "capstone/testfiles/PISA_2022_Background_questionnaire_SCHOOL_filtered_recode_miss.csv"

# AWS credentials are usually stored in ~/.aws/credentials or IAM roles (if running on AWS services)
s3_client = boto3.client("s3")

# Check if the file exists locally
if os.path.exists(local_file_path_school_miss):
    print(f"üìÇ Loading data from local file... {local_file_path_school_miss}")
    school_dataset = pd.read_csv(local_file_path_school_miss)
    print("Load completed")
else:
    print("‚òÅÔ∏è Downloading data from S3...")
    
    # Create S3 client
    s3_client = boto3.client("s3")

    # Download the file from S3
    response = s3_client.get_object(Bucket=bucket_name, Key=file_key)

    # Read the file into pandas DataFrame
    school_dataset = pd.read_csv(response["Body"])

    # Save a local copy for future use
    school_dataset.to_csv(local_file_path_school_miss, index=False)
    print(f"‚úÖ File saved locally as {local_file_path_school_miss}")

üìÇ Loading data from local file... PISA_2022_Background_questionnaire_SCHOOL_filtered_recode_miss.csv
Load completed

In [9]:
# Get number of rows and shapes
school_dataset.shape

(21629, 147)

In [10]:
# Display the first few rows
school_dataset.head()

,CNTSCHID,SC001Q01TA,SC211Q01JA,SC211Q02JA,SC211Q03JA,SC211Q04JA,SC211Q05JA,SC211Q06JA,SC209Q04JA,SC209Q05JA,...,TDTEST,ALLACTIV,BCREATSC,CREENVSC,ACTCRESC,OPENCUL,PROBSCRI,SCPREPBP,SCPREPAP,DIGPREP
0,800001,3,-999,-999,14,-999,32,-999,1,1,...,0.1717,-0.3384,-0.3682,0.3518,-1.0019,0.5652,0.7965,-0.8314,0.8462,0.5908
1,800002,1,-999,-999,-999,-999,20,-999,1,1,...,1.5226,0.4074,-0.9046,2.1631,-0.6079,0.0911,-0.5687,-0.8314,0.8462,-0.3475
2,800003,2,77,-999,1,-999,64,-999,1,2,...,-0.9681,-0.8108,0.1019,0.4118,-0.2771,-0.8952,0.1896,-0.8314,-0.8711,0.4409
3,800004,3,11,2,16,-999,4,-999,1,1,...,1.4914,-0.1653,-0.9046,1.1180,-1.1844,-0.4642,-999.0000,-999.0000,-999.0000,-0.7414
4,800005,3,-999,1,1,1,3,-999,1,1,...,-0.2225,-0.5672,0.1019,0.4118,1.0543,0.4217,0.6649,-0.8314,0.8462,-0.0102

In [11]:
# Check for duplicates in the CNTSCHID column
duplicates = school_dataset[school_dataset.duplicated(subset='CNTSCHID')]

# Display duplicates if they exist
if not duplicates.empty:
    print("Duplicates found:")
    print(duplicates)
else:
    print("No duplicates found in CNTSCHID.")

No duplicates found in CNTSCHID.

# Merge the 2 datasets

In [12]:
# Merge
temp1 = pd.merge(student_dataset, school_dataset, on="CNTSCHID", how="left")

In [13]:
# Get number of rows and shapes
temp1.shape

(591857, 326)

In [14]:
# Display first few rows
temp1.head()

,CNT,CNTSCHID,CNTSTUID,MATH_Proficient,SISCO,ST347Q01JA,ST347Q02JA,ST349Q01JA,ST350Q01JA,ST356Q01JA,...,TDTEST,ALLACTIV,BCREATSC,CREENVSC,ACTCRESC,OPENCUL,PROBSCRI,SCPREPBP,SCPREPAP,DIGPREP
0,Albania,800282,800001,0,-999,-999,-999,-999,-999,-999,...,2.0131,1.1162,-0.3682,1.3541,0.3430,0.4217,1.1110,-0.8314,0.8462,0.5908
1,Albania,800115,800002,0,-999,-999,-999,-999,-999,-999,...,-0.6686,-0.5714,0.1019,1.0791,-0.5544,-0.5450,0.1705,-0.8314,-1.1166,0.0988
2,Albania,800242,800003,0,-999,-999,-999,-999,-999,-999,...,1.5226,0.5086,0.3731,0.9015,0.5400,1.2274,0.6353,1.1784,-0.6374,-0.8981
3,Albania,800245,800005,0,1,6,1,1,2,4,...,0.1724,0.4559,-0.3682,1.0478,0.5608,0.4217,-999.0000,-999.0000,-999.0000,0.0419
4,Albania,800285,800006,1,1,4,6,4,3,1,...,0.7899,0.9383,0.1019,1.6939,0.8448,1.0318,0.0074,-0.8314,-0.7625,3.0051

In [15]:
# Create a DataFrame to display column names and their type
pd.DataFrame({"Variable": temp1.columns, "Type": temp1.dtypes.values})

# CNT (country names) are "object"
# All other variables are int64 or float64

            Variable     Type
0                CNT   object
1           CNTSCHID    int64
2           CNTSTUID    int64
3    MATH_Proficient    int64
4              SISCO    int64
..               ...      ...
321          OPENCUL  float64
322         PROBSCRI  float64
323         SCPREPBP  float64
324         SCPREPAP  float64
325          DIGPREP  float64

[326 rows x 2 columns]

In [16]:
# Get count of each SCHOOLID
school_id_counts = temp1['CNTSCHID'].value_counts()
pd.DataFrame(school_id_counts).reset_index().rename(columns={'index': 'CNTSCHID', 'CNTSCHID': 'Count'})

          Count  count
0      49900035    475
1      49900014    334
2       9600025    287
3      49900020    280
4       9600016    275
...         ...    ...
21052  25000159      1
21053  38300142      1
21054  38300115      1
21055  38300147      1
21056  38300117      1

[21057 rows x 2 columns]

In [15]:
# Filter rows where CNTSCHID equals 9600016 (A school with 275 students)
filtered_rows = temp1[temp1['CNTSCHID'] == 9600016]

# Display the filtered rows
filtered_rows.head()

# School data have been duplicated correctly

,CNT,CNTSCHID,CNTSTUID,MATH_Proficient,SISCO,ST347Q01JA,ST347Q02JA,ST349Q01JA,ST350Q01JA,ST356Q01JA,...,TDTEST,ALLACTIV,BCREATSC,CREENVSC,ACTCRESC,OPENCUL,PROBSCRI,SCPREPBP,SCPREPAP,DIGPREP
56920,Brunei_Darussalam,9600016,9600010,0,1,3,1,2,2,2,...,-0.1114,-0.2313,-1.0736,-0.2686,-1.0158,0.0911,-0.2084,-0.0337,-999.0,0.028
56933,Brunei_Darussalam,9600016,9600026,0,0,4,1,2,1,3,...,-0.1114,-0.2313,-1.0736,-0.2686,-1.0158,0.0911,-0.2084,-0.0337,-999.0,0.028
56943,Brunei_Darussalam,9600016,9600037,1,1,4,1,2,1,1,...,-0.1114,-0.2313,-1.0736,-0.2686,-1.0158,0.0911,-0.2084,-0.0337,-999.0,0.028
56959,Brunei_Darussalam,9600016,9600055,1,1,2,1,2,1,3,...,-0.1114,-0.2313,-1.0736,-0.2686,-1.0158,0.0911,-0.2084,-0.0337,-999.0,0.028
57008,Brunei_Darussalam,9600016,9600107,1,1,4,1,2,1,1,...,-0.1114,-0.2313,-1.0736,-0.2686,-1.0158,0.0911,-0.2084,-0.0337,-999.0,0.028

# Change all missing values (-999) to NaN

In [17]:
# Replace -999 with NaN for all variables and save it to temp2
temp2 = temp1.replace(-999, np.nan)

In [18]:
# Display first few rows
temp2.head()

,CNT,CNTSCHID,CNTSTUID,MATH_Proficient,SISCO,ST347Q01JA,ST347Q02JA,ST349Q01JA,ST350Q01JA,ST356Q01JA,...,TDTEST,ALLACTIV,BCREATSC,CREENVSC,ACTCRESC,OPENCUL,PROBSCRI,SCPREPBP,SCPREPAP,DIGPREP
0,Albania,800282,800001,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0131,1.1162,-0.3682,1.3541,0.3430,0.4217,1.1110,-0.8314,0.8462,0.5908
1,Albania,800115,800002,0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.6686,-0.5714,0.1019,1.0791,-0.5544,-0.5450,0.1705,-0.8314,-1.1166,0.0988
2,Albania,800242,800003,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.5226,0.5086,0.3731,0.9015,0.5400,1.2274,0.6353,1.1784,-0.6374,-0.8981
3,Albania,800245,800005,0,1.0,6.0,1.0,1.0,2.0,4.0,...,0.1724,0.4559,-0.3682,1.0478,0.5608,0.4217,NaN,NaN,NaN,0.0419
4,Albania,800285,800006,1,1.0,4.0,6.0,4.0,3.0,1.0,...,0.7899,0.9383,0.1019,1.6939,0.8448,1.0318,0.0074,-0.8314,-0.7625,3.0051

# One-hot encode the categorical variables

In [ ]:
# One-hot encode the specified variables
temp3 = pd.get_dummies(temp2, columns=["ST349Q01JA", "LANGN", "SC177Q01JA", "SC177Q02JA", "SC177Q03JA", "MATHEXC", "SCHLTYPE"], drop_first=False)

In [ ]:
# Rename columns by removing ".0" at the end
temp3.rename(columns=lambda x: x[:-2] if x.endswith(".0") else x, inplace=True)

In [ ]:
# Rename a variable
temp3.rename(columns={'ST349Q01JA_5': 'ST349Q01JA_0'}, inplace=True)

In [1]:
# List of columns to convert
columns_to_convert = [
    "ST349Q01JA_1", "ST349Q01JA_2", "ST349Q01JA_3", "ST349Q01JA_4", "ST349Q01JA_0",
    "LANGN_105", "LANGN_108", "LANGN_112", "LANGN_113", "LANGN_118", "LANGN_121", "LANGN_130",
    "LANGN_133", "LANGN_137", "LANGN_140", "LANGN_147", "LANGN_148", "LANGN_150", "LANGN_154",
    "LANGN_156", "LANGN_160", "LANGN_170", "LANGN_195", "LANGN_200", "LANGN_202", "LANGN_204",
    "LANGN_232", "LANGN_237", "LANGN_244", "LANGN_246", "LANGN_254", "LANGN_258", "LANGN_263",
    "LANGN_264", "LANGN_266", "LANGN_272", "LANGN_273", "LANGN_275", "LANGN_286", "LANGN_301",
    "LANGN_313", "LANGN_316", "LANGN_317", "LANGN_322", "LANGN_325", "LANGN_327", "LANGN_329",
    "LANGN_338", "LANGN_340", "LANGN_344", "LANGN_351", "LANGN_358", "LANGN_363", "LANGN_369",
    "LANGN_371", "LANGN_375", "LANGN_379", "LANGN_381", "LANGN_382", "LANGN_383", "LANGN_404",
    "LANGN_409", "LANGN_415", "LANGN_420", "LANGN_422", "LANGN_428", "LANGN_434", "LANGN_442",
    "LANGN_449", "LANGN_451", "LANGN_463", "LANGN_465", "LANGN_467", "LANGN_471", "LANGN_472",
    "LANGN_474", "LANGN_492", "LANGN_493", "LANGN_494", "LANGN_495", "LANGN_496", "LANGN_500",
    "LANGN_503", "LANGN_514", "LANGN_517", "LANGN_520", "LANGN_523", "LANGN_527",
    "LANGN_529", "LANGN_531", "LANGN_540", "LANGN_547", "LANGN_555", "LANGN_561", "LANGN_562",
    "LANGN_563", "LANGN_565", "LANGN_566", "LANGN_567", "LANGN_600", "LANGN_601", "LANGN_602",
    "LANGN_605", "LANGN_606", "LANGN_607", "LANGN_608", "LANGN_611",
    "LANGN_614", "LANGN_615", "LANGN_616", "LANGN_618", "LANGN_619", "LANGN_621", "LANGN_622",
    "LANGN_623", "LANGN_624", "LANGN_625", "LANGN_626", "LANGN_627", "LANGN_628", "LANGN_630",
    "LANGN_631", "LANGN_634", "LANGN_635", "LANGN_639", "LANGN_640", "LANGN_641", "LANGN_642",
    "LANGN_648", "LANGN_650", "LANGN_661", "LANGN_662", "LANGN_663", "LANGN_665", "LANGN_666",
    "LANGN_667", "LANGN_668", "LANGN_669", "LANGN_670", "LANGN_673", "LANGN_674", "LANGN_675",
    "LANGN_676", "LANGN_677", "LANGN_678", "LANGN_800", "LANGN_801", "LANGN_802", "LANGN_804",
    "LANGN_805", "LANGN_806", "LANGN_807", "LANGN_808", "LANGN_809", "LANGN_810", "LANGN_811",
    "LANGN_812", "LANGN_813", "LANGN_814", "LANGN_815", "LANGN_816", "LANGN_817", "LANGN_818",
    "LANGN_819", "LANGN_821", "LANGN_823", "LANGN_824", "LANGN_825", "LANGN_826",
    "LANGN_827", "LANGN_828", "LANGN_829", "LANGN_831", "LANGN_832", "LANGN_833",
    "LANGN_836", "LANGN_837", "LANGN_838", "LANGN_839", "LANGN_840", "LANGN_841", "LANGN_842",
    "LANGN_843", "LANGN_844", "LANGN_845", "LANGN_846", "LANGN_849", "LANGN_850", "LANGN_851",
    "LANGN_852", "LANGN_854", "LANGN_855", "LANGN_857", "LANGN_859", "LANGN_860", "LANGN_861",
    "LANGN_865", "LANGN_866", "LANGN_868", "LANGN_870", "LANGN_872", "LANGN_873", "LANGN_877",
    "LANGN_879", "LANGN_881", "LANGN_885", "LANGN_890", "LANGN_892", "LANGN_895",
    "LANGN_896", "LANGN_897", "LANGN_898", "LANGN_899", "LANGN_900", "LANGN_901", "LANGN_902",
    "LANGN_903", "LANGN_904", "LANGN_905", "LANGN_906", "LANGN_907", "LANGN_908", "LANGN_909",
    "LANGN_910", "LANGN_911", "LANGN_912", "LANGN_913", "LANGN_914", "LANGN_916",
    "LANGN_917", "LANGN_918", "LANGN_919", "LANGN_920", "LANGN_921", "LANGN_922", "SC177Q01JA_1",
    "SC177Q01JA_2", "SC177Q01JA_3", "SC177Q02JA_1", "SC177Q02JA_2", "SC177Q02JA_3", "SC177Q03JA_1",
    "SC177Q03JA_2", "SC177Q03JA_3", "MATHEXC_0", "MATHEXC_1", "MATHEXC_2", "MATHEXC_3",
    "SCHLTYPE_1", "SCHLTYPE_2", "SCHLTYPE_3"
]

# Convert boolean to int64 in temp3
temp3[columns_to_convert] = temp3[columns_to_convert].astype("int64")

NameError: name 'temp3' is not defined

In [ ]:
# Check if ST349Q01JA was one-hot encoded correctly
print(temp2['ST349Q01JA'].value_counts().sort_index())
print(temp3['ST349Q01JA_1'].value_counts())
print(temp3['ST349Q01JA_2'].value_counts())
print(temp3['ST349Q01JA_3'].value_counts())
print(temp3['ST349Q01JA_4'].value_counts())
print(temp3['ST349Q01JA_0'].value_counts())

ST349Q01JA
1.0    167367
2.0    137707
3.0     27789
4.0     21259
5.0      9721
Name: count, dtype: int64
ST349Q01JA_1
0    424490
1    167367
Name: count, dtype: int64
ST349Q01JA_2
0    454150
1    137707
Name: count, dtype: int64
ST349Q01JA_3
0    564068
1     27789
Name: count, dtype: int64
ST349Q01JA_4
0    570598
1     21259
Name: count, dtype: int64
ST349Q01JA_0
0    582136
1      9721
Name: count, dtype: int64

In [ ]:
# Check if SC177Q01JA was one-hot encoded correctly
print(temp2['SC177Q01JA'].value_counts().sort_index())
print(temp3['SC177Q01JA_1'].value_counts())
print(temp3['SC177Q01JA_2'].value_counts())
print(temp3['SC177Q01JA_3'].value_counts())

SC177Q01JA
1.0     86178
2.0     45433
3.0    169617
Name: count, dtype: int64
SC177Q01JA_1
0    505679
1     86178
Name: count, dtype: int64
SC177Q01JA_2
0    546424
1     45433
Name: count, dtype: int64
SC177Q01JA_3
0    422240
1    169617
Name: count, dtype: int64

In [ ]:
# Check if SC177Q02JA was one-hot encoded correctly
print(temp2['SC177Q02JA'].value_counts().sort_index())
print(temp3['SC177Q02JA_1'].value_counts())
print(temp3['SC177Q02JA_2'].value_counts())
print(temp3['SC177Q02JA_3'].value_counts())

SC177Q02JA
1.0     48261
2.0     27908
3.0    235858
Name: count, dtype: int64
SC177Q02JA_1
0    543596
1     48261
Name: count, dtype: int64
SC177Q02JA_2
0    563949
1     27908
Name: count, dtype: int64
SC177Q02JA_3
0    355999
1    235858
Name: count, dtype: int64

In [ ]:
# Check if SC177Q03JA was one-hot encoded correctly
print(temp2['SC177Q03JA'].value_counts().sort_index())
print(temp3['SC177Q03JA_1'].value_counts())
print(temp3['SC177Q03JA_2'].value_counts())
print(temp3['SC177Q03JA_3'].value_counts())

SC177Q03JA
1.0     39924
2.0     17161
3.0    211300
Name: count, dtype: int64
SC177Q03JA_1
0    551933
1     39924
Name: count, dtype: int64
SC177Q03JA_2
0    574696
1     17161
Name: count, dtype: int64
SC177Q03JA_3
0    380557
1    211300
Name: count, dtype: int64

In [ ]:
# Check if MATHEXC was one-hot encoded correctly
print(temp2['MATHEXC'].value_counts().sort_index())
print(temp3['MATHEXC_0'].value_counts())
print(temp3['MATHEXC_1'].value_counts())
print(temp3['MATHEXC_2'].value_counts())
print(temp3['MATHEXC_3'].value_counts())

MATHEXC
0.0      2985
1.0     11063
2.0    106662
3.0    217573
Name: count, dtype: int64
MATHEXC_0
0    588872
1      2985
Name: count, dtype: int64
MATHEXC_1
0    580794
1     11063
Name: count, dtype: int64
MATHEXC_2
0    485195
1    106662
Name: count, dtype: int64
MATHEXC_3
0    374284
1    217573
Name: count, dtype: int64

In [ ]:
# Check if SCHLTYPE was one-hot encoded correctly
print(temp2['SCHLTYPE'].value_counts().sort_index())
print(temp3['SCHLTYPE_1'].value_counts())
print(temp3['SCHLTYPE_2'].value_counts())
print(temp3['SCHLTYPE_3'].value_counts())

SCHLTYPE
1.0     60483
2.0     43898
3.0    446484
Name: count, dtype: int64
SCHLTYPE_1
0    531374
1     60483
Name: count, dtype: int64
SCHLTYPE_2
0    547959
1     43898
Name: count, dtype: int64
SCHLTYPE_3
1    446484
0    145373
Name: count, dtype: int64

# Change order of variables

In [ ]:
columns_order = [
    "CNT", "CNTSCHID", "CNTSTUID", "MATH_Proficient", "SISCO", "ST347Q01JA", "ST347Q02JA", "ST349Q01JA_0",
    "ST349Q01JA_1", "ST349Q01JA_2", "ST349Q01JA_3", "ST349Q01JA_4", "ST350Q01JA", "ST356Q01JA", "ST322Q01JA",
    "ST322Q02JA", "ST322Q03JA", "ST322Q04JA", "ST322Q06JA", "ST322Q07JA", "DURECEC", "EFFORT1", "EFFORT2",
    "ST259Q01JA", "WB164Q01HA", "HOMEPOS", "ST004D01T", "GRADE", "REPEAT", "EXPECEDU", "ICTAVSCH", "ICTAVHOM",
    "ICTDISTR", "IMMIG", "TARDYSD", "ST226Q01JA", "ST016Q01NA", "MISSSC", "Option_UH", "OECD", "PAREDINT",
    "BMMJ1", "BFMJ2", "WB163Q06HA", "WB163Q07HA", "ST230Q01JA", "SKIPPING", "IC180Q01JA", "IC180Q08JA",
    "ST059Q02JA", "ST296Q04JA", "WB176Q01HA", "STUDYHMW", "IC184Q01JA", "IC184Q02JA", "IC184Q03JA",
    "IC184Q04JA", "ST059Q01TA", "ST296Q01JA", "ST272Q01JA", "ST268Q01JA", "ST268Q04JA", "ST268Q07JA",
    "ST293Q04JA", "ST297Q01JA", "ST297Q03JA", "ST297Q05JA", "ST297Q06JA", "ST297Q07JA", "ST297Q09JA",
    "WB165Q01HA", "WB166Q01HA", "WB166Q02HA", "WB166Q03HA", "WB166Q04HA", "ST258Q01JA", "ST294Q01JA",
    "ST295Q01JA", "WB150Q01HA", "WB156Q01HA", "WB158Q01HA", "WB160Q01HA", "WB161Q01HA", "WB171Q01HA",
    "WB171Q02HA", "WB171Q03HA", "WB171Q04HA", "WB172Q01HA", "WB173Q01HA", "WB173Q02HA", "WB173Q03HA",
    "WB173Q04HA", "WB177Q01HA", "WB177Q02HA", "WB177Q03HA", "WB177Q04HA", "WB032Q01NA", "WB032Q02NA",
    "WB031Q01NA", "EXERPRAC", "STUBMI", "RELATST", "BELONG", "BULLIED", "FEELSAFE", "SCHRISK", "PERSEVAGR",
    "CURIOAGR", "COOPAGR", "EMPATAGR", "ASSERAGR", "STRESAGR", "EMOCOAGR", "GROSAGR", "INFOSEEK", "FAMSUP",
    "DISCLIM", "TEACHSUP", "COGACRCO", "COGACMCO", "EXPOFA", "EXPO21ST", "MATHEFF", "MATHEF21", "FAMCON",
    "ANXMAT", "MATHPERS", "CREATEFF", "CREATSCH", "CREATFAM", "CREATAS", "CREATOOS", "CREATOP", "OPENART",
    "IMAGINE", "SCHSUST", "LEARRES", "PROBSELF", "FAMSUPSL", "FEELLAH", "SDLEFF", "ICTRES", "ESCS", "FLSCHOOL",
    "FLMULTSB", "FLFAMILY", "ACCESSFP", "FLCONFIN", "FLCONICT", "ACCESSFA", "ATTCONFM", "FRINFLFM", "ICTSCH",
    "ICTHOME", "ICTQUAL", "ICTSUBJ", "ICTENQ", "ICTFEED", "ICTOUT", "ICTWKDY", "ICTWKEND", "ICTREG", "ICTINFO",
    "ICTEFFIC", "BODYIMA", "SOCONPA", "LIFESAT", "PSYCHSYM", "SOCCON", "EXPWB", "CURSUPP", "PQMIMP", "PQMCAR",
    "PARINVOL", "PQSCHOOL", "PASCHPOL", "ATTIMMP", "CREATHME", "CREATACT", "CREATOPN", "CREATOR", "WORKPAY",
    "WORKHOME", "SC001Q01TA", "SC211Q01JA", "SC211Q02JA", "SC211Q03JA", "SC211Q04JA", "SC211Q05JA", "SC211Q06JA",
    "SC209Q04JA", "SC209Q05JA", "SC209Q06JA", "SC037Q11JA", "SC183Q02JA", "SC183Q03JA", "SC183Q04JA", "SC175Q01JA",
    "SC177Q01JA_1", "SC177Q01JA_2", "SC177Q01JA_3", "SC177Q02JA_1", "SC177Q02JA_2", "SC177Q02JA_3", "SC177Q03JA_1",
    "SC177Q03JA_2", "SC177Q03JA_3", "SC188Q01JA", "SC188Q02JA", "SC188Q03JA", "SC188Q04JA", "SC188Q05JA",
    "SC188Q06JA", "SC188Q07JA", "SC188Q08JA", "SC188Q09JA", "SC188Q10JA", "SC188Q11JA", "SC198Q01JA",
    "SC198Q02JA", "SC198Q03JA", "SC178Q01JA", "SC178Q02JA", "SC180Q01JA", "SC189Q02WA", "SC189Q03WA",
    "SC189Q04WA", "SMRATIO", "MCLSIZE", "MACTIV", "MATHEXC_0", "MATHEXC_1", "MATHEXC_2", "MATHEXC_3", "ABGMATH",
    "SC064Q05WA", "SC064Q06WA", "SC064Q01TA", "SC064Q02TA", "SC064Q04NA", "SC064Q03TA", "SC064Q07WA",
    "SC213Q01JA", "SC213Q02JA", "SC037Q01TA", "SC037Q02TA", "SC037Q03TA", "SC037Q04TA", "SC037Q05NA",
    "SC037Q06NA", "SC037Q07TA", "SC037Q09TA", "SC200Q01JA", "SC200Q02JA", "SC200Q03JA", "SC200Q04JA",
    "SC224Q01JA", "RATCMP1", "RATCMP2", "RATTAB", "SCHSEL", "SCHLTYPE_1", "SCHLTYPE_2", "SCHLTYPE_3",
    "SC034Q01NA", "SC034Q02NA", "SC034Q03TA", "SC034Q04TA", "SC195Q01JA", "SC195Q02JA", "SC195Q03JA",
    "SC195Q04JA", "SC042Q01TA", "SC042Q02TA", "SC214Q01JA", "SC214Q02JA", "SC214Q03JA", "SC215Q01JA",
    "SC215Q02JA", "SC215Q03JA", "SC215Q04JA", "SC215Q05JA", "SC215Q06JA", "SC215Q07JA", "SC215Q08JA",
    "SC216Q06JA", "SC216Q07JA", "SC216Q08JA", "SC216Q09JA", "SC217Q01JA", "SC217Q02JA", "SC217Q03JA",
    "SC217Q04JA", "SC217Q05JA", "SC217Q06JA", "SC217Q07JA", "SC217Q08JA", "SC217Q10JA", "SC218Q01JA",
    "SC219Q01JA", "SC220Q01JA", "SC221Q01JA", "SC221Q02JA", "SC221Q03JA", "SC221Q04JA", "SCSUPRTED",
    "SCSUPRT", "SC212Q01JA", "SC212Q02JA", "SC212Q03JA", "SC037Q08TA", "SC032Q01TA", "SC032Q02TA",
    "SC032Q03TA", "SC032Q04TA", "SCHAUTO", "TCHPART", "EDULEAD", "INSTLEAD", "ENCOURPG", "DIGDVPOL", "TEAFDBK",
    "MTTRAIN", "DMCVIEWS", "NEGSCLIM", "STAFFSHORT", "EDUSHORT", "STUBEHA", "TEACHBEHA", "STDTEST", "TDTEST",
    "ALLACTIV", "BCREATSC", "CREENVSC", "ACTCRESC", "OPENCUL", "PROBSCRI", "SCPREPBP", "SCPREPAP", "DIGPREP",
    "LANGN_105", "LANGN_108", "LANGN_112", "LANGN_113", "LANGN_118", "LANGN_121", "LANGN_130",
    "LANGN_133", "LANGN_137", "LANGN_140", "LANGN_147", "LANGN_148", "LANGN_150", "LANGN_154",
    "LANGN_156", "LANGN_160", "LANGN_170", "LANGN_195", "LANGN_200", "LANGN_202", "LANGN_204",
    "LANGN_232", "LANGN_237", "LANGN_244", "LANGN_246", "LANGN_254", "LANGN_258", "LANGN_263",
    "LANGN_264", "LANGN_266", "LANGN_272", "LANGN_273", "LANGN_275", "LANGN_286", "LANGN_301",
    "LANGN_313", "LANGN_316", "LANGN_317", "LANGN_322", "LANGN_325", "LANGN_327", "LANGN_329",
    "LANGN_338", "LANGN_340", "LANGN_344", "LANGN_351", "LANGN_358", "LANGN_363", "LANGN_369",
    "LANGN_371", "LANGN_375", "LANGN_379", "LANGN_381", "LANGN_382", "LANGN_383", "LANGN_404",
    "LANGN_409", "LANGN_415", "LANGN_420", "LANGN_422", "LANGN_428", "LANGN_434", "LANGN_442",
    "LANGN_449", "LANGN_451", "LANGN_463", "LANGN_465", "LANGN_467", "LANGN_471", "LANGN_472",
    "LANGN_474", "LANGN_492", "LANGN_493", "LANGN_494", "LANGN_495", "LANGN_496", "LANGN_500",
    "LANGN_503", "LANGN_514", "LANGN_517", "LANGN_520", "LANGN_523", "LANGN_527",
    "LANGN_529", "LANGN_531", "LANGN_540", "LANGN_547", "LANGN_555", "LANGN_561", "LANGN_562",
    "LANGN_563", "LANGN_565", "LANGN_566", "LANGN_567", "LANGN_600", "LANGN_601", "LANGN_602",
    "LANGN_605", "LANGN_606", "LANGN_607", "LANGN_608", "LANGN_611",
    "LANGN_614", "LANGN_615", "LANGN_616", "LANGN_618", "LANGN_619", "LANGN_621", "LANGN_622",
    "LANGN_623", "LANGN_624", "LANGN_625", "LANGN_626", "LANGN_627", "LANGN_628", "LANGN_630",
    "LANGN_631", "LANGN_634", "LANGN_635", "LANGN_639", "LANGN_640", "LANGN_641", "LANGN_642",
    "LANGN_648", "LANGN_650", "LANGN_661", "LANGN_662", "LANGN_663", "LANGN_665", "LANGN_666",
    "LANGN_667", "LANGN_668", "LANGN_669", "LANGN_670", "LANGN_673", "LANGN_674", "LANGN_675",
    "LANGN_676", "LANGN_677", "LANGN_678", "LANGN_800", "LANGN_801", "LANGN_802", "LANGN_804",
    "LANGN_805", "LANGN_806", "LANGN_807", "LANGN_808", "LANGN_809", "LANGN_810", "LANGN_811",
    "LANGN_812", "LANGN_813", "LANGN_814", "LANGN_815", "LANGN_816", "LANGN_817", "LANGN_818",
    "LANGN_819", "LANGN_821", "LANGN_823", "LANGN_824", "LANGN_825", "LANGN_826",
    "LANGN_827", "LANGN_828", "LANGN_829", "LANGN_831", "LANGN_832", "LANGN_833",
    "LANGN_836", "LANGN_837", "LANGN_838", "LANGN_839", "LANGN_840", "LANGN_841", "LANGN_842",
    "LANGN_843", "LANGN_844", "LANGN_845", "LANGN_846", "LANGN_849", "LANGN_850", "LANGN_851",
    "LANGN_852", "LANGN_854", "LANGN_855", "LANGN_857", "LANGN_859", "LANGN_860", "LANGN_861",
    "LANGN_865", "LANGN_866", "LANGN_868", "LANGN_870", "LANGN_872", "LANGN_873", "LANGN_877",
    "LANGN_879", "LANGN_881", "LANGN_885", "LANGN_890", "LANGN_892", "LANGN_895",
    "LANGN_896", "LANGN_897", "LANGN_898", "LANGN_899", "LANGN_900", "LANGN_901", "LANGN_902",
    "LANGN_903", "LANGN_904", "LANGN_905", "LANGN_906", "LANGN_907", "LANGN_908", "LANGN_909",
    "LANGN_910", "LANGN_911", "LANGN_912", "LANGN_913", "LANGN_914", "LANGN_916",
    "LANGN_917", "LANGN_918", "LANGN_919", "LANGN_920", "LANGN_921", "LANGN_922"
]

# Reordering columns
temp4 = temp3[columns_order]

In [ ]:
# Create a DataFrame to display column names and their type
pd.DataFrame({"Variable": temp4.columns, "Type": temp4.dtypes.values})

            Variable     Type
0                CNT   object
1           CNTSCHID    int64
2           CNTSTUID    int64
3    MATH_Proficient    int64
4              SISCO  float64
..               ...      ...
565        LANGN_918    int64
566        LANGN_919    int64
567        LANGN_920    int64
568        LANGN_921    int64
569        LANGN_922    int64

[570 rows x 2 columns]

# Export to CSV file

In [ ]:
# Export to CSV
temp4.to_csv("PISA_cleaned_dataset.csv", index=False)

In [ ]:
# Download file
from google.colab import files
files.download("PISA_cleaned_dataset.csv")